.about{
    padding: 3rem 0;
}

.about-info h5{
    position: relative;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #FEA116;
    font-size: 1.25rem;
}

.about-info h5::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #FEA116;
}

.about-info h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    margin-bottom: 1.5rem;
}

.about-info h1 i{
    color: #FEA116;
    padding: 0 1rem;
}

.about-info-counter-body{
    display: flex;
}

.about-info-counter-body h1{
    color: #FEA116;
    font-weight: 800;
    line-height: 1.2;
    font-size: 3rem;
    padding: 0 1rem;
    border-left: 5px solid #FEA116;
}

.counter-info h6{
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.counter-info p{
    margin:  2px !important;
}

.about-picture img{
    width: 100%;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .about-info h5{
       padding-top: 3rem;
    }

    .about-info h5::after{
        top: 84%;
    }
  }